<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj 1</title>
</head>
<body>
    <h1>Before</h1>
    <br>
    <hr>
    <br>
        <%- body %>
    <br>
    <h3>After</h3>
    <br>
    <hr>
    
</body>
</html>